# Compilação e binários
target/
*.class
*.jar
*.war
*.ear

# Configurações do IntelliJ IDEA
.idea/
*.iml
out/
gen/

# Configurações do Eclipse
.settings/
.project
.classpath

# Configurações do VS Code
.vscode/

# Arquivos de sistema e logs
.DS_Store
*.log
logs/

# Arquivos de configuração local (onde ficam suas senhas)
/src/main/resources/application-local.properties